{% extends "base_home.html" %}

{% block title %}Add Time Slot{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Add Time Slot</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <a href="{% url 'time_slot_list' %}" class="btn btn-secondary mt-3">View Time Slots</a> <!-- Link to the time_slot_list page -->
        </div>
    </div>
{% endblock %}
